body{font-family: 'Roboto Condensed', sans-serif;
margin: 0;}
h1{font-size: 50px;}
span{
    color: orange;
}
p{
    font-size: 18px;
}
.flex-section{
    display: flex;
    margin-bottom: 80px;
}
.half-width{width: 50%;
padding-left: 6%;
padding-right: 6%;}
.half-width img{
    width: 90%; padding-top: 15px;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(209, 138, 6), tomato);
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.button-gap{margin-bottom: 50px;}
#top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
#second-sec-bg{
    background-image: url(img/second-banner.jpg);
    background-repeat:no-repeat;
}
#third-sec-bg{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 50px;
    }
    .recipie{
        box-shadow: 10px 10px 40px gray;
        margin-left: 3%;
        margin-right: 3%;
        width: 28%;
        border-radius: 10px;
        padding-left: 3%;
        padding-right: 3%;
        
    }
    .recipie img{width: 100%;
        margin-top: 15px;
    padding-top: 5px;
border-radius: 20px;
}
h4{color: tomato;}
#new-items{color: orangered;
margin-left: 80px;}
.whats-new-pic{
    border-radius: 25px;
}
#forth-sec{box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;}
footer{background-color: gray;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}